body {
    background: #0c0717;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    flex: 1 1 500px;
    flex: 0 1 500px;
    margin: 5px;
   
}

.text{
    font-family: Georgia, serif;
    font-size: 40px;
    letter-spacing: 6px;
    word-spacing: 6px;
    color: #ffffff;
    font-weight: 400;
    transition: box-shadow .3s;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
    border: .1px solid #ececec;
    background: #1a1527;
    float: right;

}
.name{
    color: plum;
}