@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.parent {
    animation: gradient 30s ease infinite;
    background-image: url('./bgHome.webp');
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
        margin-bottom: 5rem;
}

.text {
    font-family: Georgia, serif;
    font-size: 40px;
    letter-spacing: 6px;
    word-spacing: 6px;
    color: #ffffff;
    font-weight: 400;
    margin: 50px;
    max-width: 400px;
}

.box {
    height: 8vh;
    padding-bottom: 200px;
}

.name {
    color: plum;
}

.subtext {
    color: #ffffff;
    margin-bottom: 20px;
}

.discover-btn {
    background-color: plum;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.discover-btn:hover {
    background-color: #8e3b8b;
}

@media (max-width: 435px) {
    .text {
        width: 100%;
    }

    .parent {
        width: 400px;
    }
}