@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.parent {
    animation: gradient 30s ease infinite;
    background-image: url('./bgHome.webp');
    height: 150vh;
    align-items: center;

}

.text {

    font-family: Georgia, serif;
    font-size: 40px;
    letter-spacing: 6px;
    word-spacing: 6px;
    color: #ffffff;
    font-weight: 400;
    padding-top: 10%;
    padding-bottom: 20%;
    margin: 50px;
    width: 400px;


}

.box {
    height: 8vh;
    padding-bottom: 200px;
}

.name {
    color: plum;
}
<<<<<<< HEAD
@media (width <=435px) {
    .text {
        width: 100%;
    }
    .parent{
        width: 400px;
}
=======

@media (width <=435px) {
    .text {
        width: 100%;

    }

    .parent {
        width: 400px;
    }
>>>>>>> temp-branch
}