.lrpage-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid whitesmoke;
}

.lrpage-left {
    flex: 1;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lrpage-left h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.lrpage-right {
    border-left: 1 px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.register-button,
.login-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #eb5160;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .lrpage-container {
        flex-direction: column;
    }

    .lrpage-left,
    .lrpage-right {
        text-align: center;
    }
}