/* Layout, Text & Colors */
.tech {
    padding-top: 10px;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 370;
    /* margin: 5rem; */
}

body {
    background: #150f21;
    font-size: 18px;
}

p {
    line-height: 1.5;
}

.container {
            /* height: 80vh; */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Cards */
.card-column {
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-link {
    width: 48%;
    text-decoration: none;
}

.card {
    width: 100%;
    position: relative;
    background: #eb5160;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.border {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px;
    border: 1px solid #fff;
    opacity: 0.5;
    left: -6px;
    top: -6px;
    border-radius: 10px;
}

.card h1 {
    padding: 80px 20px;
    font-size: 1.5rem;
}

.card-color-0 {
    background-color: #eb5160;
}

.card-color-1 {
    background-color: #8f3985;
}

.card-color-2 {
    background-color: #8daa91;
}

.card-color-3 {
    background-color: #888da7;
}

/* Transitions */
.card {
    transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
}

.border {
    transition: opacity 200ms linear, transform 200ms ease-out;
}

.card h1 {
    transform: translate3d(20%, 0px, 0px);
    transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .card-column {
        flex-direction: column;
    }

    .card-link {
        width: 100%;
    }

    .card h1 {
        padding: 50px 20px;
        font-size: 1.3rem;
    }
}